# Template for RAILS_ENV=staging (copy to .env.staging on the staging host).

CHATBOT_DOMAIN=

RAILS_DATABASE_USERNAME=
RAILS_DATABASE_PASSWORD=
RAILS_DATABASE_HOST=
RAILS_DATABASE=

REDIS_URL=

GMAIL_USERNAME=
GMAIL_PASSWORD=

ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY=
ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY=
ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT=

WEBHOOK_VERIFY_TOKEN=
PAGE_FACEBOOK_ACCESS_TOKEN=
PAGE_INSTAGRAM_ACCESS_TOKEN=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET=
AWS_REGION=
TWO_CAPTCHA_API_KEY=
CAPTCHA_CLIENT_KEY=
SMS_CODE=
SMS_CLIENT_ID=
SMS_TOKEN=

SECRET_KEY_BASE=
SECRET_REFRESH_TOKEN=
SCENARIO_ENCRYPTION_SECRET_KEY=
SHOPIFY_SHOP_NAME=
SHOPIFY_STOREFRONT_ACCESS_TOKEN=
SHOPIFY_ACCESS_TOKEN=

RAILS_LOG_LEVEL=
WEB_CONCURRENCY=
